<html>
    <head>
        <title>My First Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">My First Blog</a></h1>
        </div>

        <div>
            <p>published: 12.02.2019, 22:14</p>
            <h2><a href="">My first post</a></h2>
            <p>I created this blog because I want to become Python developer.</p>
        </div>

        <div>
            <p>published: 12.02.2019, 22:14</p>
            <h2><a href="">My second post</a></h2>
            <p>So i'm learning to work out.</p>
        </div>
    </body>
</html>

